/* background-color: #eb0028; Red TED color */ 

body {
    background-color: white;
}

h2 {
    font-size: 6vmax;
}

.img {
    object-fit: contain; 
    height: 100%;
    width: 100%;
}

a, a:visited, a:focus, a:hover {
    text-decoration:none;
    color: black;
}

.identities.box {
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.identity {
    display: flex; 
    flex-basis: calc(50%);  
    justify-content: center;
    flex-direction: column;
}

.general-description.box {
    height: 25vh;
    /* height: 50vh; */
    /* height: 100%; */
    text-align: center;
    display: flex;
    flex-direction: column;
    border:1vmin double #e73a25;
    /* border-top: none; */
    border-right:none; border-left:none; 
}

.general-description-text.box {
    width: 70%;
    margin: auto;
    text-justify: inter-word;
}

.general-description-text.box > p {
    font-weight: bold;
    font-size: 3.2vmin;
}

.description.box {
    border:1vmin double #e73a25;
    border-right:none; border-left:none; border-top:none;
}

.description.box > img {
    display:block
}

.timer.box {
    width: 100%;
    margin: auto; 
}


