.footer {
    font-weight: bold;
    background-color: rgb(217, 217, 217);
     height: 100px;
    line-height: 35px;
    color   : black;

}

.footer-container {
    position: absolute;
    bottom: 1;
    width: 100%;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 0 3px rgb(0 0 0 / 50%);
    background-color: #d9d9d9;
}

.footer.element {
    width: 150px;
    margin-right: 10px;
    text-align: center;
    float: right;
    box-shadow:none;
}


.center-div {
    display: table;
    width: 100%;
    height: 200px;
    background-color: #d9d9d9;

}

.center-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}