<!DOCTYPE html>
<html lang="en">
<head>
       <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='https://fonts.googleapis.com/css?family=Tajawal' rel='stylesheet'>

        <!-- main css -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css\index.css' %}">
        <link rel="stylesheet" href="{% static 'css\global.css' %}">
        <link rel="stylesheet" href="{% static 'css\faculty.css' %}">
       <link rel="stylesheet" href="{% static 'css\team.css' %}">
        <link rel="" href="">

        <title> Team </title>

        <style>
    </style>
</head>
<body>

  <!-- Header -->
{% include "components/header.html" %}

  <div class="responsive-container-block outer-container">
  <div class="responsive-container-block inner-container">
    <div class="team-name"> Meet our faculty </div>
    <p class="text-blk section-subhead-text">
      ArabSpine International Faculty
    </p>
    <div class="responsive-container-block">
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
            Prof. Zoher Ghgawala
          </p>
          <p class="text-blk position">
            USA
          </p>

        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
            Prof. David Wong
          </p>
          <p class="text-blk position">
            USA
          </p>

        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
            Prof. Richard Assaker
          </p>
          <p class="text-blk position">
            France
          </p>

        </div>
      </div>

        </div>
      </div>
    </div>
  </div>
</div>
 <!------------------------------------------------- Arabspine regional faculty ---------------------------->
 <div class="responsive-container-block outer-container">
  <div class="responsive-container-block inner-container">
    <p class="text-blk section-head-text">

    </p>
    <p class="text-blk section-subhead-text">
      ArabSpine Regional Faculty (Confirmde)
    </p>
    <div class="responsive-container-block">
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
            Abdulkareem msaadi
          </p>
          <p class="text-blk position">
           UAE
          </p>

        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
            Said Hilmani
          </p>
          <p class="text-blk position">
            Morrocco
          </p>

        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
            Mohammed Alfawaara
          </p>
          <p class="text-blk position">
            Jordan
          </p>

        </div>
      </div>

       <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
           Mohamed Wafa
          </p>
          <p class="text-blk position">
            Egypt
          </p>

        </div>
      </div>

      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
           Hani Meniawi
          </p>
          <p class="text-blk position">
            Syria
          </p>

        </div>
      </div>

      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
          Abdessamad Alazhari
          </p>
          <p class="text-blk position">
            Morrocco
          </p>

        </div>
      </div>

       <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
          Amer Shurbaji
          </p>
          <p class="text-blk position">
            Jordan
          </p>

        </div>
      </div>


        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
          Khalid Kuwari
          </p>
          <p class="text-blk position">
            Bahrain
          </p>

        </div>
      </div>

        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
          Ali Maashani
          </p>
          <p class="text-blk position">
             Oman
          </p>

        </div>
      </div>

        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
          Sameh Almorsey
          </p>
          <p class="text-blk position">
              Egypt
          </p>

        </div>
      </div>
       <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
          Siraj Balkhair
          </p>
          <p class="text-blk position">
              Qatar
          </p>

        </div>
      </div>

        </div>
      </div>
    </div>
  </div>
</div>


<!------------------------------------------------- Arabspine national faculty ---------------------------->
 <div class="responsive-container-block outer-container">
  <div class="responsive-container-block inner-container">
    <p class="text-blk section-head-text">

    </p>
    <p class="text-blk section-subhead-text">
      ArabSpine National Faculty (Confirmed)
    </p>
    <div class="responsive-container-block">
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
            Sami Aliessa
          </p>
          <p class="text-blk position">
           Riyadh
          </p>

        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
            Amro Alhabib
          </p>
          <p class="text-blk position">
            Riyadh
          </p>

        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
            Abdulrazag Ajlan
          </p>
          <p class="text-blk position">
            Riyadh
          </p>

        </div>
      </div>

       <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
           Saleh Baessa
          </p>
          <p class="text-blk position">
            Riyadh
          </p>

        </div>
      </div>

      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
           Mohammed Halawani
          </p>
          <p class="text-blk position">
            Riyadh
          </p>

        </div>
      </div>

      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
          Ahmed Alzahrani
          </p>
          <p class="text-blk position">
            Riyadh
          </p>

        </div>
      </div>

       <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
          Rami Alshamrani
          </p>
          <p class="text-blk position">
            Riyadh
          </p>

        </div>
      </div>


        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
          Faisal Qubnaz
          </p>
          <p class="text-blk position">
            Riyadh
          </p>

        </div>
      </div>

        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
          Abdulkareem Alrabea
          </p>
          <p class="text-blk position">
             Riyadh
          </p>

        </div>
      </div>

        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
          Salah Akkad
          </p>
          <p class="text-blk position">
             Riyadh
          </p>

        </div>
      </div>
       <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
          Hosam Jabri
          </p>
          <p class="text-blk position">
              Riyadh
          </p>

        </div>
      </div>


       <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
          Faisal Farrash
          </p>
          <p class="text-blk position">
              Riyadh
          </p>

        </div>
      </div>

       <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
          Abdulwahib Barnawi
          </p>
          <p class="text-blk position">
              Riyadh
          </p>

        </div>
      </div>

       <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
          Fahad Alhelal
          </p>
          <p class="text-blk position">
              Riyadh
          </p>

        </div>
      </div>

       <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
          Fadi Ghareeb
          </p>
          <p class="text-blk position">
              Riyadh
          </p>

        </div>
      </div>

       <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
          Dawi Alotaibi
          </p>
          <p class="text-blk position">
              Riyadh
          </p>

        </div>
      </div>

       <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
        <div class="team-card">
          <div class="img-wrapper">
            <img class="team-img" src="static/images/team/user.png">
          </div>
          <p class="text-blk name">
          Samer Aluseraigh
          </p>
          <p class="text-blk position">
              Riyadh
          </p>

        </div>
      </div>

        </div>
      </div>
    </div>
  </div>
</div>
    <!-- Footer -->

    {% include "components/footer.html" %}

    </body>
</html>