<!DOCTYPE html>

<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='https://fonts.googleapis.com/css?family=Tajawal' rel='stylesheet'>
        <!-- main css -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css\index.css' %}">
        <link rel="stylesheet" href="{% static 'css\global.css' %}">
        <link rel="stylesheet" href="{% static 'css\main.css' %}">
        <link rel="stylesheet" href="{% static 'css\team.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


        <title> Arabspine 2023 </title>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">

<style>


</style>

    </head>
    <body>
        <!-- Header -->
      {% include "components/header.html" %}
<!------       End header ------>

<!-------Curvy background Start------->
<section class="banner" data-scroll-index='0'>
  <div class="banner-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="banner-text">
            <h2 class="black">7th Arabspine Annual Meeting</h2>
              <h3 class="black"> 1st National Guard Cadaveric Course
              </h3>
            <h6 class="white"> <a href="" target="_blank" rel="dofollow" class="weblink"></a></h6>
            <p class="banner-text white"></p>
            <ul>

              <li><a href="#"><img src="" class="wow fadeInUp" data-wow-delay="0.4s"/></a></li>
              <li><a href="#"><img src="" class="wow fadeInUp" data-wow-delay="0.7s"/></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-12"> <img src="" class="img-fluid wow fadeInUp"/> </div>
      </div>
    </div>
  </div>
  <span class="svg-wave"> <img class="svg-hero" src="/static/images/wave-bottom.svg" style="background-size: cover;"> </span> </section>


<!-------Curvy background  End------->


<!-------About End------->

<section class="about section-padding prelative" data-scroll-index='1'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sectioner-header">
            <div class="team-name"> Welcome message </div>
          <span class="line"></span>
          <h3><b>Greetings,</b></h3>

<h3>On behalf of <b>ArabSpine Society</b>, we would like to welcome you all for the upcoming <b>7'
Annual Meeting</b>, that will take place on the 9' & 10' of November 2023, at Hayatt Regency
Hotel, Olaya, Riyadh. </h3>
<h3>We are excited to share with you the preliminary scientific program for our event that includes a
cadaveric course hosted by King Saud University for Heath Specialties and a full day of rich
scientific program on November 10'. The scientific program is honored to world, regional and
    local renowned guest speakers (please review our updated guest speakers). </h3>
<h3>Riyadh in November is the city to visit. Many activities for all tastes are held during this season
We will organize a warm social program that we are sure you all will enjoy.</h3>
<h3><b>DAY 1 - Nov. 9th:</b></h3>
<h3><b>Cranio-cervical Junction Cadaveric Dissection Course Tactics & debates</b></h3>
<h3>• Including: Hands-on dissection, experts panel discussion, and international faculty.</h3>
<h3><b>DAY 2- Nov. 10th</b></h3>
<h3><b>Arabspine Scientific Meeting</b></h3>
<h3>• Cranio-cervical Junction Disorders, Spinal Tumors, Degenerative Scoliosis, Spinal Trauma and more.</h3>

<h3>Please visit our website https://arabspine2023.com/ and complete your discounted early registration.
We are looking forward to welcoming you all to Riyadh</h3>
        </div>
      </div>
    </div>
  </div>

 <div class="team-container text-center">

    <!-- Place all your team leaders for a specific team section in this region -->
    <div style="padding: 50px;">
      <div class="team-leaders-container">
      <div class="team-leader">
          <div class="">
        <img src="/static/images/team/Dr.Alkhani.jpeg" />


               <div class="">
              <div class="text-blk person-name" style="  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;">

               Prof.  Ahmed Alkhani
              </div>
              <div class="text-blk person-info" style=" font-size: 20px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;">
                Chairman
              </div>


            </div>
          </div>
      </div>

      <div class="team-leader">

        <img src="/static/images/team/Dr.wael.jpeg" />

              <div class="text-blk person-name" style=" font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;">
                 Dr. Wael ALshaya
              </div>
              <div class="text-blk person-info" style="font-size: 20px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;">
                 Course Director
              </div>
       </div>


  </div>
</section>
<!-------About End------->

  <!-- Slider -->
<div class="w3-container" style="border-top: 0px solid #ccc;">
  <h2 class="team-name">Previous Meetings!</h2>
</div>

<div class="w3-content" style="width:1100px;">
  <img class="mySlides" src="/static/images/slider1.jpeg" style="width:100%;display:none">
  <img class="mySlides" src="/static/images/slider2.jpeg" style="width:100%">
  <img class="mySlides" src="/static/images/slider3.jpeg" style="width:100%;display:none">

  <div class="w3-row-padding w3-section">
    <div class="w3-col s4">
      <img class="demo w3-opacity w3-hover-opacity-off" src="/static/images/slider1.jpeg" style="width:100%;cursor:pointer" onclick="currentDiv(1)">
    </div>
    <div class="w3-col s4">
      <img class="demo w3-opacity w3-hover-opacity-off" src="/static/images/slider2.jpeg" style="width:100%;cursor:pointer" onclick="currentDiv(2)">
    </div>
    <div class="w3-col s4">
      <img class="demo w3-opacity w3-hover-opacity-off" src="/static/images/slider3.jpeg" style="width:100%;cursor:pointer" onclick="currentDiv(3)">
    </div>
  </div>
</div>

<script>
function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
}
</script>

<!------- end slider ------->




    {% include "components/footer.html" %}


    <!---- js ---->



    </body> 
</html>
