<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Tajawal' rel='stylesheet'>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css\register.css' %}">
        <link rel="stylesheet" href="{% static 'css\global.css' %}">
        <link rel="icon" href="https://pa.tedcdn.com/favicon.ico">

    </head>
    <body>

      <!-- Header -->


    <div class="container">
        
        <div class="form container">

            <div class="popup container" id="popup">
                <a href="/register" style="color: inherit;text-decoration: inherit;"><div class="popup-text-container"> 
                    <div class="popup-content">

                        <div class="font-weight:bold;">
                            Registeration successful
                        </div>

                        <div>
                        <img src="/static/images/register/success_symbol.png" style="margin-top:10px;height:15%; width: 15%;">
                        </div>
                    </div>
                </div>
                </a>
            </div>

            <div class="form-header-container" >
                <a href="/"><img id="" src=""></a>
            </div>
            
            <div id="progress-bar"> 
            </div>

            <div class="form-input-container">
                
            <form method="POST" id="form" action="">

                {% csrf_token %}    
                
                <div class="tab">

                <!-- Name -->
                <div class="form-field">
                <div class="field-title">Name</div>
                <input type="text" name="name" required>
                </div>

                <!-- Gender -->
                <div class="form-field">

                    <div class="radio-field">
                    <input type="radio" id="female" name="gender" value="female" required>
                    <label class="radio-label" for="female">Female</label>
                    </div>

                    <div class="radio-field">
                    <input type="radio" id="male" name="gender" value="male" required>
                    <label class="radio-label" for="male">Male</label>
                    </div>
                </div>

                <!-- Age-->
                <div class="form-field">
                <div class="field-title">SCHS number</div>
                <select id="age" name="age" required  oninvalid="setCustomValidity('Please enter your age')" oninput="setCustomValidity('')">
                    <option disabled selected value>Choose</option>
                </select>
                </div>

                <!-- Email -->
                <div class="form-field">
                <div class="field-title">Personal email</div>
                <input type="email" name="email" id="email" required oninvalid="this.setCustomValidity('Please enter your email')" oninput="setCustomValidity('')"> 
                </div>

                <!-- Next -->
                <div class="form-field">
                <button type="button" id="next">Next</button> 
                </div>
                </div>

                <div class="tab">

                <!-- Education -->
                <div class="form-field">
                <div class="field-title">Discipline </div>
                <select name="education" required oninvalid="setCustomValidity('Please enter your educational level')" oninput="setCustomValidity('')">
                    <option disabled selected value>Choose</option>
                    <option value="physician">Physician</option>
                    <option value="nurse">Nurse</option>
                    <option value="physician assistant">Physician assistant</option>
                    <option value="pharmacist">Pharmacist</option>
                    <option value="PhD">Ph.D.</option>>
                    <option value="student">Student</option>>
                    <option value="other">Other</option>>
                </select>
                </div>



                <div class="form-field">
                <div class="field-title">Nationality</div>
                <select name="country" required oninvalid="setCustomValidity('Please enter your nationality')" oninput="setCustomValidity('')">
                    <option disabled selected value>Choose</option>
                    <option value="saudi">Saudi</option>
                    <option value="kuwait">Kuwait</option> 
                    <option value="egypt">Egypt</option>
                    <option value="other">Other</option>
                </select>
                </div>

                <div class="form-field">
                <div class="field-title">Phone number</div>
                <input type="number" name="phone" required oninvalid="setCustomValidity('Please enter your phone number')" oninput="setCustomValidity('')">
                </div>

                <div class="form-field">
                <input type="submit" value="Register" id="next" name="Register">
                </div>
                
                <div class="form-field">
                <div type="button" id="back" style="float:left;display:table-cell;vertical-align:middle; height:20px;cursor: pointer;"><u>back</u></div> 
                </div>
                
                </div>

                <div class="tab">
                </div>

            </form>

            <div class="messages" id="errors">
            {% if messages %}
                {% for message in messages %}
                <p style="font-weight: bold;">{{ message }}</p>
                {% endfor %}
            {% endif %} 
            </div>
            </div>
        </div>
    </div>

    <script>

    var popup = document.getElementsByClassName("popup container")[0];
    var prog_bar = document.getElementById("progress-bar");
    var submit_button = document.getElementsByName("Register");

    $(function(){
        var $select = $("#age");
        for (i=16;i<=100;i++){
            $select.append($('<option></option>').val(i).html(i))
        }
    });

    var currentTab = 0; 
    showTab(currentTab); 

    function showTab(n) {
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
    }

    $("#next").on("click", function(){
        if($("#age")[0].checkValidity() && $("#email")[0].checkValidity() && $("#female")[0].checkValidity()) {
            var x = document.getElementsByClassName("tab");
            x[currentTab].style.display = "none";
            currentTab = currentTab + 1;
            showTab(currentTab);

            prog_bar.style.transform = "translateX(100%)"; 

            $( "#errors" ).css( "display", "none" );
        }
        else {
            $("#age")[0].reportValidity();
            $("#email")[0].reportValidity();
            $("#female")[0].reportValidity();
        }
    });

    $("#back").on("click", function() { 
        var x = document.getElementsByClassName("tab");
        x[currentTab].style.display = "none";
        currentTab = currentTab - 1;
        showTab(currentTab);

        prog_bar.style.transform = "translateX(-0.05%)"; 
    })

    $("#popup").on("click", function() {
        popup.style.display = "none";
    })

    if (window.location.pathname.includes("activiate")) {
        $( "#errors" ).css( "display", "none" );
        popup.style.display = "flex";
    }
    </script>

    </body>
</html>