<!DOCTYPE html>
<html lang="en">
<head>
       <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='https://fonts.googleapis.com/css?family=Tajawal' rel='stylesheet'>

        <!-- main css -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css\index.css' %}">
        <link rel="stylesheet" href="{% static 'css\global.css' %}">
        <link rel="stylesheet" href="{% static 'css\scientific_programme.css' %}">

        <link rel="" href="">

        <title> Arabspine 2023 </title>

        <style>
    </style>
</head>
<body>

  <!-- Header -->
{% include "components/header.html" %}


  <!-- Program agenda-->

  <div class="team-name"> Scientific Programme </div>

  <div class="team-container">

    <!-- Place all your team leaders for a specific team section in this region -->
    <div style="padding: 50px;">
      <div class="team-leaders-container">
      <div class="team-leader">
          <div class="card"><img class="card_img" src="/static/images/surgery.jpeg">

                <div class="card-content-box">
              <p class="text-blk person-name">
              <b>   Day 1, November 9</b>

              </p>
              <h5>
                  Cranio-cervical Junction
                  </h5>
                  Cadaveric Dissection Course
                  Tactics & debates
                 <li>Hands-on Dissection</li>
                 <li>Expert Panel Discussion</li>
                 <li>National and international faculty</li>
                 <li>Live surgery</li>
<p class="location" style="padding-top: 120px;"><a href="https://maps.app.goo.gl/LqhNAFkv4waHmhLZA">At KSAUHS</a></p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3623.19288039075!2d46.8571454!3d24.7545751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2faa48c9c5b51b%3A0x7e22586db64f17f7!2z2KzYp9mF2LnYqSDYp9mE2YXZhNmDINiz2LnZiNivINio2YYg2LnYqNiv2KfZhNi52LLZitiyINmE2YTYudmE2YjZhSDYp9mE2LXYrdmK2Kk!5e0!3m2!1sar!2ssa!4v1697999925851!5m2!1sar!2ssa" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

     <div class="social-media-links">

          </div>
            </div>
          </div>
      </div>

      <div class="team-leader">
          <div class="card"><img class="card_img" src="/static/images/hayyat.jpeg">
              <div class="card-content-box">
              <p class="text-blk person-name">
                 <b>  Day 2, November 10</b>
              </p>
              <h5>
                  Arabspine Scientific Meeting
              </h5>
                <li>Cranio-cervical Junction Disorders</li>
                <li>Spinal Tumors</li>
                <li> Degenerative Scoliosis</li>
                <li>Spinal Trauma


               <p class="location" style="padding-top: 140px;"><a href="https://maps.app.goo.gl/jbK5ujScV6U5Z63u8">At Hayyat Regency Riyadh Olaya</a></p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3624.829985203229!2d46.6823696!3d24.6983705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f033ade6bad47%3A0xade9a682c34a40c!2z2K3Zitin2Kkg2LHZitis2YrZhtiz2Yo!5e0!3m2!1sar!2ssa!4v1698000097009!5m2!1sar!2ssa" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>



     <div class="social-media-links">

          </div>
            </div>
              </div>
      </div>
    </div>
</div>

  <!--  End program agenda-->



    <!-- Footer -->

    {% include "components/footer.html" %}

    </body>
</html>