<!DOCTYPE html>
<html lang="en">
<head>
       <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='https://fonts.googleapis.com/css?family=Tajawal' rel='stylesheet'>

        <!-- main css -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css\index.css' %}">

        <link rel="stylesheet" href="{% static 'css\team.css' %}">
        <link rel="" href="">

        <title> Team </title>

        <style>
    </style>
</head>
<body>

  <!-- Header -->
{% include "components/header.html" %}


  <!-- Name of a specific team section (ex. Developers) -->
  <div class="team-name"> Organizing Committee Members </div>

  <div class="team-container">

    <!-- Place all your team leaders for a specific team section in this region -->
    <div style="padding: 50px;">
      <div class="team-leaders-container">
      <div class="team-leader">
          <div class="card">
        <img src="/static/images/team/Dr.Alkhani.jpeg" />


               <div class="card-content-box">
              <p class="text-blk person-name" style=" font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;">
               Prof.  Ahmed Alkhani
              </p>
              <p class="text-blk person-info" style="font-size: 20px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
text-align: center;">
                Chairman
              </p>

     <div class="social-media-links">
            <a href="" target="_blank">
              <img src="/static/images/socialMedia/twitter.svg" alt="Twitter Profile" width="24" height="24">
            </a>
            <a href="http://www.facebook.com/" target="_blank">
              <img src="/static/images/socialMedia/facebook-color-svgrepo-com.svg" alt="Facebook  Profile" width="10" height="10">
            </a>

            <a href="https://www.linkedin.com/in/ahmed-alkhani-a2775121/" target="_blank">
              <img src="/static/images/socialMedia/linkedin.svg" alt="LinkedIn Profile" width="24" height="24">
            </a>
         <a href="" target="_blank">
              <img src="/static/images/socialMedia/email-svgrepo-com.svg" alt="Email " width="24" height="24">
            </a>
          </div>
            </div>
          </div>
      </div>

      <div class="team-leader">
          <div class="card">
        <img src="/static/images/team/Dr.wael.jpeg" />


 <div class="card-content-box">
              <p class="text-blk person-name"  style=" font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;">
                 Dr. Wael ALshaya
              </p>
              <p class="text-blk person-info" style="font-size: 20px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
text-align: center;">
                 Course Director
              </p>

     <div class="social-media-links">
            <a href="" target="_blank">
              <img src="/static/images/socialMedia/twitter.svg" alt="Twitter Profile" width="24" height="24">
            </a>
            <a href="http://www.facebook.com/" target="_blank">
              <img src="/static/images/socialMedia/facebook-color-svgrepo-com.svg" alt="Facebook  Profile" width="22" height="22">
            </a>

            <a href="" target="_blank">
              <img src="/static/images/socialMedia/linkedin.svg" alt="LinkedIn Profile" width="24" height="24">
            </a>
         <a href="" target="_blank">
              <img src="/static/images/socialMedia/email-svgrepo-com.svg" alt="Email " width="24" height="24">
            </a>
          </div>
            </div>
              </div>
      </div>
    </div>
</div>
  <!--  <hr class="rounded"> -->



    </div>
<div style="padding: 50px;">
   <div class="team-members-container">
       <div class="team-member">
           <div class="card">
        <img src="/static/images/team/Dr.Ajlan.jpeg" />

               <div class="card-content-box">
              <p class="text-blk person-name"  style=" font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;">
               Dr. Abdulrazag Ajlan
              </p>
              <p class="text-blk person-info" style="font-size: 20px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
text-align: center;">
                SANS president
              </p>

     <div class="social-media-links">
            <a href="" target="_blank">
              <img src="/static/images/socialMedia/twitter.svg" alt="Twitter Profile" width="24" height="24">
            </a>
            <a href="http://www.facebook.com/" target="_blank">
              <img src="/static/images/socialMedia/facebook-color-svgrepo-com.svg" alt="Facebook  Profile" width="22" height="22">
            </a>

            <a href="" target="_blank">
              <img src="/static/images/socialMedia/linkedin.svg" alt="LinkedIn Profile" width="24" height="24">
            </a>
         <a href="" target="_blank">
              <img src="/static/images/socialMedia/email-svgrepo-com.svg" alt="Email " width="24" height="24">
            </a>
          </div>
            </div>

               </div>
      </div>

      <div class="team-member">
          <div class="card">
        <img src="/static/images/team/Dr. Yasser.jpeg" />


                <div class="card-content-box">
              <p class="text-blk person-name"  style=" font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;">
                Dr. Yasser El Banna
              </p>
              <p class="text-blk person-info" style="font-size: 20px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
text-align: center;">
                Arabspine president
              </p>

     <div class="social-media-links">
            <a href="" target="_blank">
              <img src="/static/images/socialMedia/twitter.svg" alt="Twitter Profile" width="24" height="24">
            </a>
            <a href="http://www.facebook.com/" target="_blank">
              <img src="/static/images/socialMedia/facebook-color-svgrepo-com.svg" alt="Facebook  Profile" width="22" height="22">
            </a>

            <a href="" target="_blank">
              <img src="/static/images/socialMedia/linkedin.svg" alt="LinkedIn Profile" width="24" height="24">
            </a>
         <a href="" target="_blank">
              <img src="/static/images/socialMedia/email-svgrepo-com.svg" alt="Email " width="24" height="24">
            </a>
          </div>
            </div>

              </div>
      </div>

      <div class="team-member">
          <div class="card">
        <img src="/static/images/team/Dr. Saleh.jpeg" />

                <div class="card-content-box">
              <p class="text-blk person-name"  style=" font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;">
               Dr. Saleh Baeesa
              </p>
              <p class="text-blk person-info" style="font-size: 20px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
text-align: center;">
                Past Arabspine president
              </p>

     <div class="social-media-links">
            <a href="" target="_blank">
              <img src="/static/images/socialMedia/twitter.svg" alt="Twitter Profile" width="24" height="24">
            </a>
            <a href="http://www.facebook.com/" target="_blank">
              <img src="/static/images/socialMedia/facebook-color-svgrepo-com.svg" alt="Facebook  Profile" width="22" height="22">
            </a>

            <a href="" target="_blank">
              <img src="/static/images/socialMedia/linkedin.svg" alt="LinkedIn Profile" width="24" height="24">
            </a>
         <a href="" target="_blank">
              <img src="/static/images/socialMedia/email-svgrepo-com.svg" alt="Email " width="24" height="24">
            </a>
          </div>
            </div>
              </div>
      </div>



    </div>
  </div>

  <!-- Name of a specific team section (ex. Developers) -->
  <div class="team-name"> </div>

  <div class="team-container">

    <!-- Place all your team leaders for a specific team section in this region -->
    <div class="team-leaders-container">

    </div>





    </div>
<div style="padding: 50px;">
   <div class="team-members-container">


      <div class="team-member">
          <div class="card">
        <img src="/static/images/team/Dr. Khairy.jpeg" />


       <div class="card-content-box">
              <p class="text-blk person-name"  style=" font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;">
               Dr. Sami Khairy
              </p>
              <p class="text-blk person-info" style="font-size: 20px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
text-align: center;">
                Member
              </p>

     <div class="social-media-links">
            <a href="" target="_blank">
              <img src="/static/images/socialMedia/twitter.svg" alt="Twitter Profile" width="24" height="24">
            </a>
            <a href="http://www.facebook.com/" target="_blank">
              <img src="/static/images/socialMedia/facebook-color-svgrepo-com.svg" alt="Facebook  Profile" width="22" height="22">
            </a>

            <a href="" target="_blank">
              <img src="/static/images/socialMedia/linkedin.svg" alt="LinkedIn Profile" width="24" height="24">
            </a>
         <a href="" target="_blank">
              <img src="/static/images/socialMedia/email-svgrepo-com.svg" alt="Email " width="24" height="24">
            </a>
          </div>
            </div>
              </div>
      </div>

      <div class="team-member">
          <div class="card">
        <img src="/static/images/team/Dr. Amro.jpeg" />


        <div class="card-content-box">
              <p class="text-blk person-name"  style=" font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;">
               Dr. Amro Al-Habib
              </p>
              <p class="text-blk person-info" style="font-size: 20px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
text-align: center;">
                Member
              </p>

     <div class="social-media-links">
            <a href="" target="_blank">
              <img src="/static/images/socialMedia/twitter.svg" alt="Twitter Profile" width="24" height="24">
            </a>
            <a href="http://www.facebook.com/" target="_blank">
              <img src="/static/images/socialMedia/facebook-color-svgrepo-com.svg" alt="Facebook  Profile" width="22" height="22">
            </a>

            <a href="" target="_blank">
              <img src="/static/images/socialMedia/linkedin.svg" alt="LinkedIn Profile" width="24" height="24">
            </a>
         <a href="" target="_blank">
              <img src="/static/images/socialMedia/email-svgrepo-com.svg" alt="Email " width="24" height="24">
            </a>
          </div>
            </div>
              </div>
      </div>
        <div class="team-member">
          <div class="card">
        <img src="/static/images/team/Dr Ahmad Aloraidi.jpg" />


        <div class="card-content-box">
              <p class="text-blk person-name"  style=" font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;">
               Dr. Ahmad Aloraidi
              </p>
              <p class="text-blk person-info" style="font-size: 20px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
text-align: center;">
                Member
              </p>

     <div class="social-media-links">
            <a href="" target="_blank">
              <img src="/static/images/socialMedia/twitter.svg" alt="Twitter Profile" width="24" height="24">
            </a>
            <a href="http://www.facebook.com/" target="_blank">
              <img src="/static/images/socialMedia/facebook-color-svgrepo-com.svg" alt="Facebook  Profile" width="22" height="22">
            </a>

            <a href="" target="_blank">
              <img src="/static/images/socialMedia/linkedin.svg" alt="LinkedIn Profile" width="24" height="24">
            </a>
         <a href="" target="_blank">
              <img src="/static/images/socialMedia/email-svgrepo-com.svg" alt="Email " width="24" height="24">
            </a>
          </div>
            </div>
              </div>
      </div>

      <div class="team-member">
          <div class="card">
        <img src="/static/images/team/Dr. Sami.jpeg" />

       <div class="card-content-box">
              <p class="text-blk person-name"  style=" font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;">
                Dr. Sami Aleissa
              </p>
              <p class="text-blk person-info" style="font-size: 20px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
text-align: center;">
                Member
              </p>

     <div class="social-media-links">
          <a href="" target="_blank">
              <img src="/static/images/socialMedia/twitter.svg" alt="Twitter Profile" width="24" height="24">
            </a>
            <a href="http://www.facebook.com/" target="_blank">
              <img src="/static/images/socialMedia/facebook-color-svgrepo-com.svg" alt="Facebook  Profile" width="22" height="22">
            </a>

            <a href="" target="_blank">
              <img src="/static/images/socialMedia/linkedin.svg" alt="LinkedIn Profile" width="24" height="24">
            </a>
         <a href="" target="_blank">
              <img src="/static/images/socialMedia/email-svgrepo-com.svg" alt="Email " width="24" height="24">
            </a>

          </div>
            </div>
              </div>
      </div>
   </div>
    </div>
</div>

    <!-- Footer -->

    {% include "components/footer.html" %}

    </body>
</html>