<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Tajawal' rel='stylesheet'>
       <link href='content/css/font-awesome/css/font-awesome.css?family=font+awesome' rel='stylesheet' type='text/css'>

        {% load static %}
        <link rel="stylesheet" href="{% static 'css\components\footer.css' %}">
        <link rel="stylesheet" href="{% static 'css\global.css' %}">
    </head>
<body>
<footer class="footer">


<div class="center-div">
    <div class="center-text">
        <p>Copyright@2023</p>
    </div>
</div>


        <!-- Change this to your twitter link -->


    </div>
</footer>   
</body>
</html>